@charset "ISO-8859-1";

body{
	background-color:yellow;
	border: solid;
	border-width: 10px;
	margin-left: 200px;
	margin-right: 200px;
	margin-bottom: 5px;
	padding-bottom: 20px;
}
h1{
	text-align: center;
}
h2{
	text-align: center;
	margin-top: 1cm;
}